@use "../abstracts/mixins/" as *; 

/*--- Layout - Container ---*/ 

$multiplier: -1;  
$row-multiplier: -1; 
$col-multiplier: 2; 

.container {
    padding-left: calc(#{$multiplier} * var(--container--gutter--sm)); 
    padding-right: calc(#{$multiplier} * var(--container--gutter--sm));
    margin: calc(var(--gutter-sm) * ( #{$row-multiplier} * 2 )) auto;
}  

@include mediaQuery("tablet-up") {
    .container {
        padding-left: calc(#{$multiplier} * var(--container--gutter--md)); 
        padding-right: calc(#{$multiplier} * var(--container--gutter--md));   
        margin: calc(var(--gutter-sm) * ( #{$row-multiplier} * 2 )) auto;
    }  
}

@include mediaQuery("laptop-up") {
    .container {
        padding-left: calc(#{$multiplier} * var(--container--gutter--lg)); 
        padding-right: calc(#{$multiplier} * var(--container--gutter--lg));
        margin: calc(var(--gutter-sm) * ( #{$row-multiplier} * 2 )) auto;
    }   
}

@include mediaQuery("desktop-up") {
    .container {
        padding-left: calc(#{$multiplier} * var(--container--gutter--xl)); 
        padding-right: calc(#{$multiplier} * var(--container--gutter--xl));
        margin: calc(var(--gutter-sm) * ( #{$row-multiplier} * 2 )) auto;
    }   
}
  
.container.max-width--sm { max-width: var(--max-content-width--sm); }
.container.max-width--md { max-width: var(--max-content-width--md); }
.container.max-width--lg { max-width: var(--max-content-width--lg); }
.container.max-width--xl { max-width: var(--max-content-width--xl); }