@use "../abstracts/mixins" as *;

/*--- Layout - Section Spacing ---*/ 

@include getSectionSpacing( "mobile-up", "sm" );
@include getSectionSpacing( "tablet-up", "md" );
@include getSectionSpacing( "laptop-up", "lg" );
@include getSectionSpacing( "desktop-up", "xl" ); 

section[class*=bg-] + section[class*=bg-] {
    margin-top: 0; 
} 
 
section:not([class*=bg-]) + section.bg--white-base { 
    margin-top: 0; 
} 

section.bdr-bottom {  

    .container { 
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-bottom: calc(var(--sect--btm-pd--sm)); 
    }
    
} 

@include mediaQuery("laptop-up") {

    section.bdr-bottom {  
    
        .container { 
            padding-bottom: calc(var(--sect--btm-pd--lg)); 
        }
        
    }

}