@use "sass:map"; 

@use '../abstracts' as *;

/*--- Components - Buttons ---*/

button,
.btn,
.btn-secondary,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    min-width: var(--btn--min-width);
    font: var(--btn--font);
    border-radius: var(--btn--corner-radius);
    text-align: center;
    text-transform: uppercase;
    padding: 1.6rem 2.4rem;
}

/*--- Components - Buttons, Selected ---*/

button.selected,
.btn.selected  ,
.btn-secondary.selected,
input[type="button"].selected,
input[type="submit"].selected,
input[type="reset"].selected {
    background-color: var(--primary-base);
    color: var(--white-base);
    border: none;
}

[class*="bg--primary-"] button.selected,
[class*="bg--primary-"] .btn.selected,
[class*="bg--primary-"] .btn-secondary.selected,
[class*="bg--primary-"] input[type="button"].selected,
[class*="bg--primary-"] input[type="submit"].selected,
[class*="bg--primary-"] input[type="reset"].selected,
[class*="bg--secondary-"] button.selected,
[class*="bg--secondary-"] .btn.selected,
[class*="bg--secondary-"] .btn-secondary.selected,
[class*="bg--secondary-"] input[type="button"].selected,
[class*="bg--secondary-"] input[type="submit"].selected,
[class*="bg--secondary-"] input[type="reset"].selected{
    background-color: var(--white-base);
    color: var(--primary-base);
}

/*--- Components - Buttons on Light Backgrounds ---*/

@include getButtonsOnColoredBackground( $buttonsOnLightBg, "lightBackgrounds" ); 

/*--- Components - Buttons on Dark Backgrounds ---*/ 

@include getButtonsOnColoredBackground( $buttonsOnDarkBg, "darkBackgrounds" );