
@use "sass:map"; 

@use '../abstracts' as *;


.content-switcher{
    position: relative;
    font: var(--p-1--lg);
} 

.content-switcher > .content-switcher-inner{
    position: relative;
    display: flex; 
    align-items: center;
    padding: 4px;
    background: #E8eef1;
    border-radius: 4px;
    cursor: pointer;     
    text-align: center;
    box-shadow:none;
}

.content-switcher > .content-switcher-inner:before{
    content: attr(data-on); 
    transform: translateX(0px);
    justify-content: center;
    background: #fff;
    transition: all 0.1s ease;
    border-radius: 4px;
    padding: 14px 40px;
    width: 50%;
    margin-right: 3px;
    box-shadow: $content-switcher--track-shadow-right;  
}

.content-switcher > .content-switcher-inner:after{
    content: attr(data-off);
    transform: translateX(0px);
    justify-content: center; 
    background: transparent;
    border-radius: 4px;
    padding: 14px 40px;
    width: 50%;
    margin: 0;
}


.content-switcher input[type="checkbox"]:focus + label.content-switcher-inner:after
{
    outline: 0.3rem solid hsl(195, 100%, 39.2%);
    outline-offset: -3px;
    border-radius: 5px;
}

.content-switcher input[type="checkbox"]{  
    opacity: 0;
    position: absolute;
}

.content-switcher input[type="checkbox"]:checked + label.content-switcher-inner:after{
    content: attr(data-on); 
    box-shadow: none;
    transform: translateX(-100%);    
}
   

.content-switcher input[type="checkbox"]:checked + label.content-switcher-inner:before{
    content: attr(data-off);
    transform: translateX(100%);
    box-shadow: $content-switcher--track-shadow-left;
  
}
    