@use "sass:map";

@use '../abstracts' as *;


.content-switcher--pill {
    background-color: #{"hsl(#{$blue--light-3-hsl})"};
    .content-switcher--slider{
        background-color: #{"hsl(#{$white-hsl})"};
    }
    .content-switcher--label span{
        color: #{"hsl(#{$gray--dark-1-hsl})"}; 
    }
} 

.content-switcher{
    --switch-gutter: 4px; //padding for the pill

    &--input,
    &--content{
        display: none;
        margin-top: $v-spacing--300;
    }

    &--slider{
        display: block;
        width: calc(50% - var(--switch-gutter));
        height: calc(100% - var(--switch-gutter) * 2);
        border-radius: $border-radius-25;
        transition: $transition--ease-25;
        position: absolute;
        left: var(--switch-gutter);
        z-index: 0;
    }

    &--pill{
        padding: var(--switch-gutter);
        margin: 0 auto;
        border-radius: $border-radius-25;
        position: relative;
        display: table;
        cursor: pointer;

        .content-switcher{
            
            &--label{
                display: table-cell;
                vertical-align: middle;
                z-index: 10;
                width: 50%;
                position: relative;
                cursor: pointer;
                padding: #{$v-spacing--50} #{$h-spacing--150};

                .label-head{
                    font-size: $font-size--mob-lg-3;
                }

                .label-subhead{
                    font: #{$font-size--mob-lg-5}/#{$line-height--mob-sm-1} #{$font-stack--sans-serif};
                }
            }
       }
    }  
}

// slider transition to selected label
[id*='content-switcher--input-right']:checked ~ .content-switcher--pill .content-switcher--slider{
    transform: translateX(100%);
    box-shadow: #{$content-switcher--track-shadow-left};
}

// slider transition to selected label
[id*='content-switcher--input-left']:checked ~ .content-switcher--pill .content-switcher--slider{
    transform: translateX(0%);
    box-shadow: #{$content-switcher--track-shadow-right};
}

// selected label related content display
[id*='content-switcher--input-right']:checked ~ #content-switcher--content-right,
[id*='content-switcher--input-left']:checked ~ #content-switcher--content-left{
    display: block;
}

// selected label color
[id*='content-switcher--input-right']:checked ~ .content-switcher--pill #content-switcher--label-right span,
[id*='content-switcher--input-left']:checked ~ .content-switcher--pill #content-switcher--label-left span{
    color: #{"hsl(#{$blue--base-hsl})"};
 }

 //focus states of unchecked label
#content-switcher--input-right:not(:checked):focus ~ .content-switcher--pill #content-switcher--label-right,
#content-switcher--input-left:not(:checked):focus ~ .content-switcher--pill #content-switcher--label-left{
    outline: #{$outline--focus};
    outline-offset: -4px;
    border-radius: $border-radius-25;
}