.hero {
    position: relative;
    width: 100%;

    .hero-content {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .hero-left {
            z-index: 2;
            background: var(--brand-2023-primary-amber-ffa-440, #ffa440);

            display: flex;

            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
        }

        .hero-right {
            position: relative;
            z-index: 1;
            padding-left: 0;
            padding-right: 0;
            .hero-img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .wave-svg {
                position: relative;
                bottom: 0;
                width: 100%;
                z-index: 3;
                transform: scaleX(-1);
            }
        }

        .new-h1 {
            color: var(--black-base);
            font-family: Basic Sans;
            font-weight: 700;
            letter-spacing: 0em;
        }

        [class*='highlight'] {
            position: relative;
        }

        [class*='highlight']:before {
            content: ''; /* Required for pseudo-element to appear */
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50%; /* Set the height to half of the text's height */
            width: 100%;
            z-index: -1; /* Pseudo-ele*/
        }

        .highlight-primary:before {
            background-color: #ca9cff;
        }

        .highlight-secondary:before {
            background-color: #ffdd4d;
        }
    }
}

// @media screen and (max-width: 768px) {
//   .hero-content {
//       flex-direction: column;

//       .hero-text {
//           order: 1;
//       }

//       .hero-right {
//           order: 2;
//           margin-bottom: 20px;
//       }
//   }
// }
