@use "sass:map"; 

@use '../abstracts' as *;

/*--- Components - Tables  ---*/ 

// Default table styles
table {
    display: table;
    border-spacing: 15px;
    border: 1px solid #c1c5c6;
    width: fit-content;
}

// Evenly spaces table class on laptop and larger screens
@media(min-width: 1235.98px) {
    .table--layout-fixed {
        table-layout: fixed;
        width: 100%;
    }
}

// Responsive table on mobile and tablet screens
@media(max-width: 1235.98px) {
    .table-responsive {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

@include getTable(); 

/*--- Color Scheme - Tables on Contrasting Backgrounds ---*/ 
    
:root {
    --table--on-light-background: var(--gray-body);
    --table--on-dark-background: var(--white-base);
    --table-on-primary-light-background: var(--primary-base);
    --table--on-secondary-light-background: var(--secondary-base);  
    --table--on-gray-background: var(--white-base);
    --table--on-success-background: var(--success-text);
    --table--on-warning-background: var(--warning-text);
    --table--on-error-background: var(--error-text);
    
    --thead--on-light-background: var(--primary-base);
    --thead--on-dark-background: var(--white-base);
    --thead--on-primary-light-background: var(--primary-base);
    --thead--on-secondary-light-background: var(--secondary-base);  
    --thead--on-gray-background: var(--white-base);
    --thead--on-success-background: var(--success-text);
    --thead--on-warning-background: var(--warning-text);
    --thead--on-error-background: var(--error-text);
    --thead--bg-on-light-background: var(--primary-light-3);
}