@use "sass:map"; 
@use '../abstracts' as *;

/*--- Components - Toggle Switch ---*/

.toggle-switch {
  position: relative;
  display: inline-block;
  width: $toggle-track--height;
  height: $toggle-track--width;
  margin: 3.2rem 2.4rem 0 2.4rem;
}

.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

/*--- Components- Toggle switch Track styling ---*/

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: var(--gray-disabled);
  -webkit-transition: $toggle--transition;
  transition: $toggle--transition;
  border-radius: $toggle-track--radius;
}

/*--- Components- Toggle switch DIsabled Track styling ---*/ 

.toggle-switch input:disabled + .slider{
  background-color: rgba(193,197,198,0.45);
}

/*--- Components- Toggle switch Thumb styling ---*/

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: $toggle-thumb--height;
  width: $toggle-thumb--width;
  left: $toggle-thumb--left;
  bottom: $toggle-thumb--bottom;
  -webkit-transition: $toggle--transition;
  transition: $toggle--transition;
  border-radius: $toggle-thumb--radius;
  box-shadow: $elevation-1;
}

/*--- Components- Toggle switch Checked thumb animation ---*/

.toggle-switch input:checked + .slider:before {
  -webkit-transform: $toggle-check--transform;
  -ms-transform: $toggle-check--transform;
  transform: $toggle-check--transform;
}
 
/*--- Color Scheme - Toggles on Contrasting Backgrounds ---*/  

:root {

  @each $palette, $toggleSwitchOnLightBg in map.get( $toggleSwitchOnLightBg, #{$active-theme} ) {
    @each $state, $properties in $toggleSwitchOnLightBg { 
        @each $property, $value in $properties { 
            @if $value != null {
                --#{$palette}-toggle-on-lgt-bg--#{$state}--#{$property}: #{$value};
            }
            
        }
    }
  }
  
  @each $palette, $toggleSwitchOnDarkBg in map.get( $toggleSwitchOnDarkBg, #{$active-theme} ) {
    @each $state, $properties in $toggleSwitchOnDarkBg { 
        @each $property, $value in $properties { 
            @if $value != null {
                --#{$palette}-toggle-on-drk-bg--#{$state}--#{$property}: #{$value};
            }
            
        }
    }
  }

}

/*--- Components - Toggle-switch on Light backgrounds ---*/

@include getToggleOnColorBg($toggleSwitchOnLightBg, "lightBackgrounds"); 


/*--- Components - Toggle-switch on Dark backgrounds ---*/

@include getToggleOnColorBg($toggleSwitchOnDarkBg, "darkBackgrounds"); 