node_modules 
.DS_store 
public/
dist/
deploy/config.json 
.vscode/ 
/.bashrc
deploy/demo-repo/ 
post-process/docNavGenerator/data/search-aggregates/*.json
post-process/docNavGenerator/data/uri/*.json
src/pages/docs/data/*.json