@use './design-tokens' as *;

$active-theme: 'default-theme';  

//-- Focus Outline

$outline--focus: 0.3rem solid "hsl(#{$blue--light-2-hsl})";  
$outline--focus-offset: 0.2rem;

//-- Buttons 

$btn--font: bold 1.6rem/2.4rem var(--font-stack); 
$btn--border-width: 0.2rem; 
$btn--corner-radius: 0.4rem; 
$btn--min-width: 22.7rem;

$btn-focus--opacity: 15%;
$btn-active--opacity: 40%;  
$btn--border-button-padding: 1.4rem 2.4rem; // Buttons with borders are the same default height as non-border buttons
$btn--button-padding: 1.6rem 2.4rem;

//-- Links

$link-default--underline: underline solid 0.1rem; 

//-- Tables

$table--border-spacing: 15px;
$table--border-width: 0.1rem;
$table-heading--border-width: 0.2rem;
$table-cell--padding: 1.6rem 1rem;    
$table-head--font: #{$font-size--mob-lg-4}/#{$line-height--mob-lg-5} #{$font-stack--sans-serif};
$table-body--font: #{$font-size--mob-lg-5}/#{$line-height--mob-lg-5} #{$font-stack--sans-serif};
$table-head--line-height: $letter-spacing--mob-lg-5;
$table-body--line-height: $letter-spacing--mob-sm-1;