[class*='col--'] {
    border: 1px dashed var(--success-accessible);
}

[class*='row']:not([class*='bg--white-base']) {
    border: 1px dashed var(--error-accessible);
}

.no-border {
    border: none;
}
