@use "sass:map";
/*--- Breakpoints ---*/
/* Using floating maxes to help with strict inequality on hi-Dpi screens */
$--min-desktop: 1440px;
$--max-laptop: 1439.98px; 
$--min-laptop: 1236px;
$--max-tablet: 1235.98px;
$--min-tablet: 600px; 
$--max-mobile: 599.98px;  
$--min-mobile: 0px;  

$breakpoints: (
  "mobile-only"  : '( max-width: #{$--max-mobile} )', 
  "tablet-only"  : '( min-width: #{$--min-tablet} ) and (max-width: #{$--max-tablet} )',
  "laptop-only"  : '( min-width: #{$--min-laptop} ) and (max-width: #{$--max-laptop} )',
  "desktop-only" : '( min-width: #{$--min-desktop} )',
  "mobile-up"    : '( min-width: #{$--min-mobile} )',
  "tablet-up"    : '( min-width: #{$--min-tablet} )',
  "laptop-up"    : '( min-width: #{$--min-laptop} )',
  "desktop-up"   : '( min-width: #{$--min-desktop} )'
);
 
@mixin mediaQuery( $breakpoint ) {
  
  @media #{map.get( $breakpoints, $breakpoint )} {
    @content;
  }
  
}