html.de-theme {
  /*--- Theme Adapters---*/ 

  /* Primary Color Palette */
  --primary-color--base: var(--primary-blue--base-hsl);
  --primary-color--light-1: var(--primary-blue--light-1-hsl);
  --primary-color--light-2: var(--primary-blue--light-2-hsl);
  --primary-color--light-3: var(--primary-blue--light-3-hsl);
  --primary-color--dark-1: var(--primary-blue--dark-1-hsl);
  --primary-color--dark-2: var(--primary-blue--dark-2-hsl);

  /* Secondary Color Palette */
  --secondary-color--accent: var(--secondary-orange--accent-hsl);
  --secondary-color--light-1: var(--secondary-orange--light-1-hsl); 
  --secondary-color--light-2: var(--secondary-orange--light-2-hsl);
  --secondary-color--light-3: var(--secondary-orange--light-3-hsl);
  --secondary-color--dark-1: var(--secondary-orange--dark-1-hsl);
  --secondary-color--dark-2: var(--secondary-orange--dark-2-hsl);
 
  /* Notification Color Palette */
  --error-color--element: var(--error-color--element-hsl);
  --error-color--text: var(--error-color--text-hsl); 
  --error-color--background: var(--error-color--background-hsl);

  --warning-color--element: var(--warning-color--element-hsl);
  --warning-color--text: var(--warning-color--text-hsl);
  --warning-color--background: var(--warning-color--background-hsl);

  --success-color--element: var(--success-color--element-hsl);
  --success-color--text: var(--success-color--text-hsl);
  --success-color--background: var(--success-color--background-hsl); 

  /* Text Colors */
  --heading--color: var(--primary-color--base);
  --body-text--color: var(--gray--dark); 
  --link-color: var(--primary-color);
  --body-text--on-dark-background: var(--white-surface-hsl);
  --element--disabled--color: var(--gray--light--disabled-hsl);
  --input-outline--color: var(--gray--light--input-hsl);

  
}