@use "sass:map";  
@use "sass:string";
 
@use '../../abstracts/' as *;
@use '../../abstracts/base/buttons-map' as *;
@use '../../abstracts/tokens' as *; 
@use '../functions/string-replace.scss' as *;
 
@mixin getButtonColorProps( $targetBackgroundType ) { 
 
    $type-prefix: "";
    $backgroundMap: "";

    @if $targetBackgroundType == "light-backgrounds" { 
        $type-prefix: "btn-on-lgt-bg";
    }  
    @else if $targetBackgroundType == "dark-backgrounds" {
        $type-prefix: "btn-on-drk-bg";
    } 
    @else if $targetBackgroundType == "error-background" { 
        $type-prefix: "btn-on-error-bg";
    }
    @else if $targetBackgroundType == "info-background" { 
        $type-prefix: "btn-on-info-bg";
    }
    @else if $targetBackgroundType == "warning-background" { 
        $type-prefix: "btn-on-warning-bg";
    }
    @else if $targetBackgroundType == "success-background" { 
        $type-prefix: "btn-on-success-bg";
    }

    @each $backgroundType, $palette in map.get( $buttonsOnContrastingBg, #{$active-theme} ) {
        @if( $backgroundType == $targetBackgroundType ) {

            @each $button, $states in $palette {     
                @if string.index($button, '.') != 0 { 
                    $button: str-replace($button, '.', '');
                } 
                @each $state, $properties in $states {
                    @each $property, $value in $properties { 
                        @if $value != null {
                            --#{$button}-#{$type-prefix}--#{$state}--#{$property}: #{$value};
                        }
                    }
                }
            }
        }
    }
}
 
@mixin getButtonsOnLightBg( $targetBackgroundType ) {

    @each $backgroundType, $palette in map.get($buttonsOnContrastingBg, #{$active-theme}) {  
        @if( $backgroundType == $targetBackgroundType ) {
            @each $button, $states in $palette {    

                @each $state, $properties in $states {
                    @if $button == "primary" {
                        @if $state == "default" {
                            .btn--#{$button}, 
                            [type="submit"] {
                                @each $property, $value in $properties{
                                    @if $value != null {
                                        #{$property}: var(--#{$button}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            } 
                        }
                        @else{
                            .btn--#{$button}:#{$state}, 
                            [type="submit"]:#{$state} {
                                @each $property, $value in $properties{
                                    @if $value != null {
                                        #{$property}: var(--#{$button}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            }
                        }
                    }  
                    @else if $button == "secondary" {
                        @if $state == "default" {
                            button,
                            .btn, 
                            [type="button"],
                            [type="reset"],
                            .btn--#{$button}{
                                @each $property, $value in $properties{ 
                                    @if $value != null {
                                        #{$property}: var(--#{$button}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            } 
                        }
                        @else{
                            button:#{$state},  
                            .btn:#{$state},
                            [type="reset"]:#{$state}, 
                            [type="button"]:#{$state}, 
                            .btn--#{$button}:#{$state}{
                                @each $property, $value in $properties{
                                    @if $value != null {
                                        #{$property}: var(--#{$button}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            } 
                        }
                    } 
                    @else if $button == "tertiary" { 
                        @if $state == "default" {
                            .btn--#{$button}{
                                @each $property, $value in $properties{ 
                                    @if $value != null {
                                        #{$property}: var(--#{$button}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            } 
                        }
                        @else{
                            .btn--#{$button}:#{$state}{
                                @each $property, $value in $properties{
                                    @if $value != null {
                                        #{$property}: var(--#{$button}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            } 
                        }
                    }
                    @else if string.index($button, '.') != 0 { 
                        $prop-prefix: str-replace($button, '.', '');
                        @if $state == "default" {
                            button#{$button},
                            [class*=btn]#{$button},
                            [type="button"]#{$button},
                            [type="submit"]#{$button},
                            [type="reset"]#{$button} {
                                @each $property, $value in $properties{ 
                                    @if $value != null {
                                        #{$property}: var(--#{$prop-prefix}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            } 
                        }
                        @else{
                            button#{$button}:#{$state},
                            [class*=btn]#{$button}:#{$state},
                            [type="button"]#{$button}:#{$state},
                            [type="submit"]#{$button}:#{$state},
                            [type="reset"]#{$button}:#{$state} {
                                @each $property, $value in $properties{ 
                                    @if $value != null {
                                        #{$property}: var(--#{$prop-prefix}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            } 
                        }
                    }
                    @else{
                        @if $state == "default" {
                            .btn--#{$button}{
                                @each $property, $value in $properties{
                                    @if $value != null {
                                        #{$property}: var(--#{$button}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            } 
                        }
                        @else{
                            .btn--#{$button}:#{$state}{
                                @each $property, $value in $properties{
                                    @if $value != null {
                                        #{$property}: var(--#{$button}-btn-on-lgt-bg--#{$state}--#{$property});
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}            

@mixin getButtonsOnColorBg( $targetBackgroundType ) {

    @each $bgClass in $darkBackgroundClasses { 
        $suffix: "drk-bg";

        @each $backgroundType, $palette in map.get($buttonsOnContrastingBg, #{$active-theme}) {  
            @if( $backgroundType == $targetBackgroundType ) {

                @each $button, $states in $palette {    
                    @if $button == "secondary" or $button == "tertiary" {
                        @each $state, $properties in $states {  
                         
                            @if $state == "default" {
                                [class*=#{$bgClass}] button,
                                [class*=#{$bgClass}] .btn, 
                                [class*=#{$bgClass}] [type="submit"],
                                [class*=#{$bgClass}] [type="button"],
                                [class*=#{$bgClass}] [type="reset"],
                                [class*=#{$bgClass}] .btn--#{$button}{
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                            @else{
                                [class*=#{$bgClass}] button:#{$state},  
                                [class*=#{$bgClass}] .btn:#{$state},
                                [class*=#{$bgClass}] [type="submit"]:#{$state}, 
                                [class*=#{$bgClass}] [type="reset"]:#{$state}, 
                                [class*=#{$bgClass}] [type="button"]:#{$state}, 
                                [class*=#{$bgClass}] .btn--#{$button}:#{$state}{
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                        }
                    }

                    @else{
                        @each $state, $properties in $states { 

                            @if $state == "default" {
                                [class*=#{$bgClass}] .btn--#{$button} {
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                            @else{
                                [class*=#{$bgClass}] .btn--#{$button}:#{$state} {
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}

@mixin getButtonsOnAlertBg( $targetBackgroundType ) {

    @each $bgClass in $alertBackgroundClasses { 
        $suffix: "";

        @if $bgClass == "bg--success-background" or 
            $bgClass == "bg--warning-background" or 
            $bgClass == "bg--error-background" or 
            $bgClass == "bg--info-background" 
        {
                $suffix: str-replace( str-replace($bgClass, "bg--", ""), "-background", "-bg" ); 
        }

        @each $backgroundType, $palette in map.get($buttonsOnContrastingBg, #{$active-theme}) {  
            @if( $backgroundType == $targetBackgroundType ) {

                @each $button, $states in $palette { 
                    @each $state, $properties in $states {  
                        @if $button == "primary" {
                            @if $state == "default" {
                                [class*=#{$bgClass}] .btn--#{$button}, 
                                [class*=#{$bgClass}] [type="submit"] {
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                            @else{
                                [class*=#{$bgClass}] .btn--#{$button}:#{$state}, 
                                [class*=#{$bgClass}] [type="submit"]:#{$state} {
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                }
                            }
                        }  
                        @else if $button == "secondary" {
                            @if $state == "default" {
                                [class*=#{$bgClass}] button,
                                [class*=#{$bgClass}] .btn, 
                                [class*=#{$bgClass}] [type="button"],
                                [class*=#{$bgClass}] [type="reset"],
                                [class*=#{$bgClass}] .btn--#{$button}{
                                    @each $property, $value in $properties{ 
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                            @else{
                                [class*=#{$bgClass}] button:#{$state},  
                                [class*=#{$bgClass}] .btn:#{$state},
                                [class*=#{$bgClass}] [type="reset"]:#{$state}, 
                                [class*=#{$bgClass}] [type="button"]:#{$state}, 
                                [class*=#{$bgClass}] .btn--#{$button}:#{$state}{
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                        } 
                        @else if $button == "tertiary" { 
                            @if $state == "default" {
                                [class*=#{$bgClass}] .btn--#{$button}{
                                    @each $property, $value in $properties{ 
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                            @else{
                                [class*=#{$bgClass}] .btn--#{$button}:#{$state}{
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                        }
                        @else if string.index($button, '.') != 0 { 
                            $prop-prefix: str-replace($button, '.', '');
                            @if $state == "default" {
                                [class*=#{$bgClass}] button#{$button},
                                [class*=#{$bgClass}] [class*=btn]#{$button},
                                [class*=#{$bgClass}] [type="button"]#{$button},
                                [class*=#{$bgClass}] [type="submit"]#{$button},
                                [class*=#{$bgClass}] [type="reset"]#{$button} {
                                    @each $property, $value in $properties{ 
                                        @if $value != null {
                                            #{$property}: var(--#{$prop-prefix}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                            @else{
                                [class*=#{$bgClass}] button#{$button}:#{$state},
                                [class*=#{$bgClass}] [class*=btn]#{$button}:#{$state},
                                [class*=#{$bgClass}] [type="button"]#{$button}:#{$state},
                                [class*=#{$bgClass}] [type="submit"]#{$button}:#{$state},
                                [class*=#{$bgClass}] [type="reset"]#{$button}:#{$state} {
                                    @each $property, $value in $properties{ 
                                        @if $value != null {
                                            #{$property}: var(--#{$prop-prefix}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                        }
                        @else{
                            @if $state == "default" {
                                [class*=#{$bgClass}] .btn--#{$button}{
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                } 
                            }
                            @else{
                                [class*=#{$bgClass}] .btn--#{$button}:#{$state}{
                                    @each $property, $value in $properties{
                                        @if $value != null {
                                            #{$property}: var(--#{$button}-btn-on-#{$suffix}--#{$state}--#{$property});
                                        }
                                    }
                                }
                            }
                        }
                    }
                }  
            }
        }
    }
}