button,
.btn,
.btn-secondary,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    min-width: var(--btn--min-width);
    font: var(--btn--font);
    border-radius: var(--btn--corner-radius);
    border: var(--btn--border);
    color: var(--primary-blue--base);
    text-align: center;
    text-transform: uppercase;
    padding: 1.6rem 2.4rem;
}

/*--- Primary Buttons ---*/
.btn--primary {
    background-color: var(--secondary-orange--accent);
    color: var(--white-surface);
    border: none;
}

.btn--primary:hover {
    background-color: var(--secondary-orange--dark-1);

}

.btn--primary:focus {
    background-color: var(--secondary-orange--dark-1);
    outline: var(--link-focus--outline);
    outline-offset: 0.2rem;
}

.btn--primary:active {
    background-color: var(--secondary-orange--light-2);
    color: var(--white-surface);
}

.btn--primary:disabled {
    background-color: var(--gray--light--disabled);
    color: var(--white-surface);
}

/*--- Secondary Buttons(default button) states ---*/
button:hover,
.btn:hover,
.btn-secondary:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: var(--btn--secondary-color--hover);
}

button:focus,
.btn:focus,
.btn-secondary:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    background-color: var(--btn--secondary-color--hover);
    outline: var(--link-focus--outline);
    outline-offset: 0.2rem;
}

button:active,
.btn:active,
.btn-secondary:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    background-color: var(--btn--secondary-color--pressed);
    color: var(--primary-blue--base);
}

button:disabled,
.btn:disabled,
.btn-secondary:disabled,
input[type="button"]:disabled,
input[type="submit"],:disabled
input[type="reset"]:disabled {
    color: var(--gray--light--disabled);
    border-color: var(--gray--light--disabled);
}

button.selected,
.btn.selected  ,
.btn-secondary.selected,
input[type="button"].selected,
input[type="submit"].selected,
input[type="reset"].selected {
    background-color: var(--primary-blue--base);
    color: var(--white-surface);
    border: none;
}

[class*="bg--primary-color"] button,
[class*="bg--primary-color"] .btn,
[class*="bg--primary-color"] .btn-secondary,
[class*="bg--primary-color"] input[type="button"],
[class*="bg--primary-color"] input[type="submit"],
[class*="bg--primary-color"] input[type="reset"],
[class*="bg--secondary-color"] button,
[class*="bg--secondary-color"] .btn,
[class*="bg--secondary-color"] .btn-secondary,
[class*="bg--secondary-color"] input[type="button"],
[class*="bg--secondary-color"] input[type="submit"],
[class*="bg--secondary-color"] input[type="reset"] {
    color: var(--white-surface);
    border-color: var(--white-surface);

}

[class*="bg--primary-color"] button:hover,
[class*="bg--primary-color"] .btn:hover,
[class*="bg--primary-color"] .btn-secondary:hover,
[class*="bg--primary-color"] input[type="button"]:hover,
[class*="bg--primary-color"] input[type="submit"]:hover,
[class*="bg--primary-color"] input[type="reset"]:hover,
[class*="bg--secondary-color"] button:hover,
[class*="bg--secondary-color"] .btn:hover,
[class*="bg--secondary-color"] .btn-secondary:hover,
[class*="bg--secondary-color"] input[type="button"]:hover,
[class*="bg--secondary-color"] input[type="submit"]:hover,
[class*="bg--secondary-color"] input[type="reset"]:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

[class*="bg--primary-color"] button:focus,
[class*="bg--primary-color"] .btn:focus,
[class*="bg--primary-color"] .btn-secondary:focus,
[class*="bg--primary-color"] input[type="button"]:focus,
[class*="bg--primary-color"] input[type="submit"]:focus,
[class*="bg--primary-color"] input[type="reset"]:focus,
[class*="bg--secondary-color"] button:focus,
[class*="bg--secondary-color"] .btn:focus,
[class*="bg--secondary-color"] .btn-secondary:focus,
[class*="bg--secondary-color"] input[type="button"]:focus,
[class*="bg--secondary-color"] input[type="submit"]:focus,
[class*="bg--secondary-color"] input[type="reset"]:focus {
    background-color: rgba(255, 255, 255, 0.15);
    outline: var(--link-focus--outline);
    outline-offset: 0.2rem;
}

[class*="bg--primary-color"] button:active,
[class*="bg--primary-color"] .btn:active,
[class*="bg--primary-color"] .btn-secondary:active,
[class*="bg--primary-color"] input[type="button"]:active,
[class*="bg--primary-color"] input[type="submit"]:active,
[class*="bg--primary-color"] input[type="reset"]:active,
[class*="bg--secondary-color"] button:active,
[class*="bg--secondary-color"] .btn:active,
[class*="bg--secondary-color"] .btn-secondary:active,
[class*="bg--secondary-color"] input[type="button"]:active,
[class*="bg--secondary-color"] input[type="submit"]:active,
[class*="bg--secondary-color"] input[type="reset"]:active {
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--white-surface);
}

[class*="bg--primary-color"] button:disabled,
[class*="bg--primary-color"] .btn:disabled,
[class*="bg--primary-color"] .btn-secondary:disabled,
[class*="bg--primary-color"] input[type="button"]:disabled,
[class*="bg--primary-color"] input[type="submit"]:disabled,
[class*="bg--primary-color"] input[type="reset"]:disabled,
[class*="bg--secondary-color"] button:disabled,
[class*="bg--secondary-color"] .btn:disabled,
[class*="bg--secondary-color"] .btn-secondary:disabled,
[class*="bg--secondary-color"] input[type="button"]:disabled,
[class*="bg--secondary-color"] input[type="submit"]:disabled,
[class*="bg--secondary-color"] input[type="reset"]:disabled {
    color: var(--white-surface);
    border-color: var(--white-surface);
    opacity: 60%;
}

[class*="bg--primary-color"] button.selected,
[class*="bg--primary-color"] .btn.selected,
[class*="bg--primary-color"] .btn-secondary.selected,
[class*="bg--primary-color"] input[type="button"].selected,
[class*="bg--primary-color"] input[type="submit"].selected,
[class*="bg--primary-color"] input[type="reset"].selected,
[class*="bg--secondary-color"] button.selected,
[class*="bg--secondary-color"] .btn.selected,
[class*="bg--secondary-color"] .btn-secondary.selected,
[class*="bg--secondary-color"] input[type="button"].selected,
[class*="bg--secondary-color"] input[type="submit"].selected,
[class*="bg--secondary-color"] input[type="reset"].selected{
    background-color: var(--white-surface);
    color: var(--primary-blue--base);
}


/*Tertiary button*/

.btn--tertiary{
    border: none;
    min-width: 0;
    padding: 0;
}

[class*="bg--primary-color"] .btn--tertiary,
[class*="bg--secondary-color"] .btn--tertiary{
    color: var(--white-surface);
}

