/*-----Background-colors----- */

.bg--primary-color {
    background-color: var(--primary-color--base);
}

.bg--light-blue {
    background-color: var(--primary-color--light-3);
}

.bg--secondary-color {
    background-color: var(--secondary-color--accent);
}

.bg--white {
    background-color: var(--white-surface);
}

.bg--light-gray {
    background-color: var(--gray--light--background);
}

.bg--error {
    background-color: var(--error-color--background);
}

.bg--warning {
    background-color: var(--warning-color--background);
}

.bg--success {
    background-color: var(--success-color--background);
}


/*-----foreground-colors-----*/

.color--primary-color {
    color: var(--primary-color--base);
}

.color--light-blue-1 {
    color: var(--primary-color--light-1);
}

.color--light-blue-2 {
    color: var(--primary-color--light-2);
}

.color--light-blue-3 {
    color: var(--primary-color--light-3);
}

.color--dark-blue-1 {
    color: var(--primary-color--dark-1);
}

.color--dark-blue-2 {
    color: var(--primary-color--dark-2);
}

.color--secondary-color {

    color: var(--secondary-color--accent);
}

.color--light-orange-1 {
    color: var(--secondary-color--light-1);
}

.color--light-orange-2 {
    color: var(--secondary-color--light-2);
}

.color--light-orange-3 {
    color: var(--secondary-color--light-3);
}

.color--dark-orange-1 {
    color: var(--secondary-color--dark-1);
}

.color--dark-orange-2 {
    color: var(--secondary-color--dark-2);
}

.color--white {
    color: var(--white-surface);
}

.color--black {
    color: var(--black);
}

.color--dark-gray {
    color: var(--gray--dark);
}

.color--medium-gray {
    color: var(--gray--medium);
}

.color--light-gray-body {
    color: var(--gray--light--body);
}

.color--light-gray-input {
    color: var(--gray--light--input);
}

.color--light-gray-disabled {
    color: var(--gray--light--disabled);
}

.color--error-element {
    color: var(--error-color--element);
}

.color--error-text {
    color: var(--error-color--text);
}

.color--warning-element {
    color: var(--warning-color--element);
}

.color--warning-text {
    color: var(--warning-color--text);
}

.color--success-element {
    color: var(--success-color--element);
}

.color-success-text {
    color: var(--success-color--text);
}

/*------Border colors -------*/



/*-----foreground-colors-----*/

.border--primary-color {
    border-color: var(--primary-color--base);
}

.border--light-blue-1 {
    border-color: var(--primary-color--light-1);
}

.border--light-blue-2 {
    border-color: var(--primary-color--light-2);
}

.border--light-blue-3 {
    border-color: var(--primary-color--light-3);
}

.border--dark-blue-1 {
    border-color: var(--primary-color--dark-1);
}

.border--dark-blue-2 {
    border-color: var(--primary-color--dark-2);
}

.border--secondary-color {

    border-color: var(--secondary-color--accent);
}

.border--light-orange-1 {
    border-color: var(--secondary-color--light-1);
}

.border--light-orange-2 {
    border-color: var(--secondary-color--light-2);
}

.border--light-orange-3 {
    border-color: var(--secondary-color--light-3);
}

.border--dark-orange-1 {
    border-color: var(--secondary-color--dark-1);
}

.border--dark-orange-2 {
    border-color: var(--secondary-color--dark-2);
}

.border--white {
    border-color: var(--white-surface);
}

.border--black {
    border-color: var(--black);
}

.border--dark-gray {
    border-color: var(--gray--dark);
}

.border--medium-gray {
    border-color: var(--gray--medium);
}

.border--light-gray{
    border-color: var(--gray--light--body);
}

.border--light-gray-input {
    border-color: var(--gray--light--input);
}

.border--light-gray-disabled {
    border-color: var(--gray--light--disabled);
}

.border--error-element {
    border-color: var(--error-color--element);
}

.border--error-text {
    border-color: var(--error-color--text);
}

.border--warning-element {
    border-color: var(--warning-color--element);
}

.border--warning-text {
    border-color: var(--warning-color--text);
}

.border--success-element {
    border-color: var(--success-color--element);
}

.border-success-text {
    border-color: var(--success-color--text);
}