/*---- Elevation and Shadow levels ----*/

.elev--level-1 {
    box-shadow: var(--elev-1--drop-1), var(--elev-1--drop-2), var(--elev-1--drop-3);

}

.elev--level-2 {
    box-shadow: var(--elev-2--drop-1), var(--elev-2--drop-2), var(--elev-2--drop-3);
}

.elev--level-3 {
    box-shadow: var(--elev-3--drop-1), var(--elev-3--drop-2), var(--elev-3--drop-3);
}

.elev--level-4 {
    box-shadow: var(--elev-4--drop-1), var(--elev-4--drop-2), var(--elev-4--drop-3);
}