@use '../abstracts' as *;
article{
   --img--float-gutter-xl: #{$h-spacing--200};
   --img--float-gutter-md: #{$h-spacing--100};

   .img--float{
      &-left{
         
         float: left;

         @include mediaQuery("desktop-up") {
            margin-right:  var(--img--float-gutter-xl);
         }
         
         @include mediaQuery("tablet-only") {
            margin-right:  var(--img--float-gutter-md);
         }

         @include mediaQuery("mobile-only") {
            margin-bottom: var(--col-btm-mg--sm);
         }

      }

      &-right{
         float: right;

         @include mediaQuery("desktop-up") {
            margin-left:  var(--img--float-gutter-md);
         }
         
         @include mediaQuery("tablet-only") {
            margin-left:  var(--img--float-gutter-md);
         }

         @include mediaQuery("mobile-only") {
            margin-bottom: var(--col-btm-mg--sm); 
         }
      }

   }
}


