@use '../abstracts/' as *;

/*-- Link fonts --*/

.link--xs {
    font: var(--link-xs--sm);
}

.link--s {
    font: var(--link-s--sm);
}

/*--- Default link font ---*/
a,
.link--m {
    font: var(--link-m--sm);
}

.link--l {
    font: var(--link-l--sm);
}

/* Default link font and underline colors for different states */
a,
[class*="link-"] {
    color: var(--primary-base);
    text-decoration: var(--link-default--underline);
}

a:hover,
[class*="link-"]:hover {
    color: var(--primary-dark-1);
    text-decoration: var(--link-hover--underline);
}

a:focus,
[class*="link-"]:focus {
    color: var(--primary-dark-1);
    text-decoration: var(--link-focus--underline);
    outline: var(--link-focus--outline);
    border-radius: 0.1rem;
    outline-offset: 0.2rem;
}

a:visited,
[class*="link-"]:visited {
    color: var(--primary-light-2);
    text-decoration: var(--link-visited--underline);
}

a:disabled,
[class*="link-"]:disabled {
    color: var(--gray-disabled);
    text-decoration: var(--link-disabled--underline);
}


/* Link font and underline colors for different states on dark background */

[class*="bg--primary-"] a,
[class*="bg--secondary-"] a,
[class*="bg--primary-"] [class*="link-"],
[class*="bg--secondary-"] [class*="link-"] {
    color: var(--white-base);
    text-decoration: var(--link-white--underline);
}


[class*="bg--primary-"] a:hover,
[class*="bg--primary-"] a:focus,
[class*="bg--secondary-"] a:hover,
[class*="bg--secondary-"] a:focus,
[class*="bg--primary-"] [class*="link-"]:hover,
[class*="bg--primary-"] [class*="link-"]:focus,
[class*="bg--secondary-"] [class*="link-"]:hover,
[class*="bg--secondary-"] [class*="link-"]:focus {
    color: var(--white-base);
    opacity: 75%;
    text-decoration: var(--link-white--underline--opacity);
}

[class*="bg--primary-"] a:visited,
[class*="bg--secondary-"] a:visited {
    color: var(--white-base);
    text-decoration: var(--link-white--underline);
}

[class*="bg--primary-"] p>a:visited,
[class*="bg--secondary-"] p>a:visited {
    color: var(--primary-light-2);
    text-decoration: var(--link-visited--underline);
}


[class*="bg--primary-"] a:disabled,
[class*="bg--primary-"] [class*="link-"]:disabled {
    color: var(--white-base);
    opacity: 40%;
    text-decoration: var(--link-white--underline--disabled);
}


/*--- Group, Footer and Header links ---*/

ol a,
ul a,
dl a,
[class*="bg--primary-"] ol a,
[class*="bg--primary-"] ul a,
[class*="bg--primary-"] dl a,
[class*="bg--secondary-"] ol a,
[class*="bg--secondary-"] ul a,
[class*="bg--secondary-"] dl a ol a:disabled,
ul li a:disabled,
dl li a:disabled {
    text-decoration: none;
}

ol a:visited,
ul a:visited,
dl a:visited {
    color: var(--primary-base);
    text-decoration: none;
}

[class*="bg--primary-"] ol a:visited,
[class*="bg--primary-"] ul a:visited,
[class*="bg--primary-"] dl a:visited,
[class*="bg--secondary-"] ol a:visited,
[class*="bg--secondary-"] ul a:visited,
[class*="bg--secondary-"] dl a:visited {
    color: var(--white-base);

}

/*--- Email and Phone number ----*/

a[href^="mailto:"],
a[href^="tel:"] {
    font-weight: var(--font-weight--regular);
}

a[href^="mailto:"]:visited,
a[href^="tel:"]:visited {
    color: var(--primary-base);
    text-decoration: var(--link-default--underline);
}

[class*="bg--primary-"] a[href^="mailto:"]:visited,
[class*="bg--secondary-"] a[href^="mailto:"]>a:visited {
    color: var(--white-base);
    text-decoration: var(--link-white--underline);
}