@use "sass:map"; 

@use "../abstracts" as *;

:root {
      
    /*--- Default Properties - Color Schemes ---*/

    @each $palette, $colors in map.get( $colors, #{$active-theme} ) {
        @each $color, $value in $colors {
            --#{$palette}-#{$color}: hsl(#{$value});
        }
    }  

    /*--- Default Properties - Dropshadows ---*/

    @each $variant, $value in map.get( $dropshadows, #{$active-theme} ) {
        --dropshadow-#{$variant}: #{$value};
    }

    /*--- Default Properties - Spacing, Section ---*/

    @each $type, $categories in map.get( $spacing, #{$active-theme}, "section" ) { 

        // String manipulation of CSS property name
        $modType: "";
        @if $type != "" {
            $modType: -#{$type};
        }
         
        @each $variant, $sizes in $categories { 
            @each $size, $value in $sizes { 
                --sect#{$modType}--#{$variant}--#{$size}: #{$value};
            }
        }
    } 

    /*--- Default Properties - Spacing, Gutters ---*/ 

    @each $size, $value in map.get( $spacing, #{$active-theme}, "gutter" ) {
        --gutter-#{$size}: #{$value};
    }

    /*--- Default Properties - Spacing, Columns ---*/

    @each $type, $categories in map.get( $spacing, #{$active-theme}, "column" ) {
        @each $size, $value in $categories { 
            --col-#{$type}--#{$size}: #{$value};
        }
    } 
 
    /*--- Default Properties - Typography ---*/

    @each $type, $categories in map.get( $typography, #{$active-theme }) {
        @each $variant, $sizes in $categories {
            @each $size, $value in $sizes {
                --#{$type}-#{$variant}--#{$size}: #{$value};
            }
        }
    }
    
    /*--- Default Properties - Anchor/Links on Light Backgrounds ---*/
    
    @each $palette, $linksOnLightBg in map.get( $linksOnLightBg, #{$active-theme} ) {
        @each $state, $properties in $linksOnLightBg { 
            @each $property, $value in $properties { 
                @if $value != null {
                    --#{$palette}-link-on-lgt-bg--#{$state}--#{$property}: #{$value};
                }
            }
        }
    }  

     /*--- Default Properties - Anchor Links, on Dark Backgrounds ---*/

     @each $palette, $linksOnDarkBg in map.get( $linksOnDarkBg, #{$active-theme} ) {
        @each $state, $properties in $linksOnDarkBg { 
            @each $property, $value in $properties { 
                @if $value != null {
                    --#{$palette}-link-on-drk-bg--#{$state}--#{$property}: #{$value};
                }
            }
        }
    }  

    /*--- Default Properties - Buttons ---*/

    --btn--font: bold 1.6rem/2.4rem var(--font-stack);
    --btn--min-width: 22.7rem;
    --btn--corner-radius:0.4rem;
    --btn--border: 0.2rem solid var(--primary-base);


    /*--- Default Properties - Buttons on Light Backgrounds ---*/

    @each $palette, $buttonsOnLightBg in map.get( $buttonsOnLightBg, #{$active-theme} ) {
        @each $state, $properties in $buttonsOnLightBg { 
            @each $property, $value in $properties { 
                @if $value != null {
                    --#{$palette}-btn-on-lgt-bg--#{$state}--#{$property}: #{$value};
                }
            }
        }
    }  

    /*--- Default Properties - Buttons on Dark Backgrounds ---*/

    @each $palette, $buttonsOnLightBg in map.get( $buttonsOnDarkBg, #{$active-theme} ) {
        @each $state, $properties in $buttonsOnLightBg { 
            @each $property, $value in $properties { 
                @if $value != null {
                    --#{$palette}-btn-on-drk-bg--#{$state}--#{$property}: #{$value};
                }
            }
        }
    }  

    /*--- Default Properties - Toggle Switch on Light Backgrounds ---*/
    
    @each $palette, $toggleSwitchOnLightBg in map.get( $toggleSwitchOnLightBg, #{$active-theme} ) {
        @each $state, $properties in $toggleSwitchOnLightBg { 
            @each $property, $value in $properties { 
                @if $value != null {
                    --#{$palette}-toggle-on-lgt-bg--#{$state}--#{$property}: #{$value};
                }
                
            }
        }
    }

    /*--- Default Properties - Toggle Switch on Dark Backgrounds ---*/
    
    @each $palette, $toggleSwitchOnDarkBg in map.get( $toggleSwitchOnDarkBg, #{$active-theme} ) {
        @each $state, $properties in $toggleSwitchOnDarkBg { 
            @each $property, $value in $properties { 
                @if $value != null {
                    --#{$palette}-toggle-on-drk-bg--#{$state}--#{$property}: #{$value};
                }
                
            }
        }
    }
   

    /*--- Default Properties - Content Width ---*/

    --max-content-width--sm: #{$content--width-sm};
    --max-content-width--md: #{$content--width-md};
    --max-content-width--lg: #{$content--width-lg};
    --max-content-width--xl: #{$content--width-xl};

    /*--- Default Properties - Gutters ---*/

    --container--gutter--sm: var(--gutter-sm);
    --container--gutter--md: var(--gutter-md);
    --container--gutter--lg: var(--gutter-lg);
    --container--gutter--xl: var(--gutter-xl);

    /*--- Default Properties - Text Indent ---*/

    --text-indent--sm: #{$h-spacing--150};
    --text-indent--md: #{$h-spacing--150};
    --text-indent--lg: #{$h-spacing--150};
    --text-indent--xl: #{$h-spacing--150};

    /*--- Default Properties - Text on Colors ---*/

    --heading-color: var(--primary-base);
    --body-text--color: var(--gray-body);
    --body-text--light-color: var(--gray-medium-1);

    /*--- Default Properties - Text on Dark Backgrounds ---*/

    --heading--on-dark-background: var(--white-base);
    --body-text--on-dark-background: var(--white-base);

    /*--- Default Properties - Text on Light Backgrounds ---*/

    --heading--on-light-background: var(--primary-base);
    --body-text--on-light-background: var(--gray-body);
    
    /*--- Default Properties - Font Weights ---*/

    --font-weight--regular: #{$font-weight--regular};
    --font-weight--medium: #{$font-weight--medium};
        
    /*--- Default Properties - Font Stack ---*/

    --font-stack: #{$font-stack--sans-serif};

    /*--- Default Properties - List Styles ---*/
    
    --list-item-spacing-s--sm: #{$list-item-spacing-s--sm};
    --list-item-spacing-s--md: #{$list-item-spacing-s--md};
    --list-item-spacing-s--lg: #{$list-item-spacing-s--lg};
    --list-item-spacing-s--xl: #{$list-item-spacing-s--xl};

    --list-item-spacing-m--sm: #{$list-item-spacing-m--sm};
    --list-item-spacing-m--md: #{$list-item-spacing-m--md};
    --list-item-spacing-m--lg: #{$list-item-spacing-m--lg};
    --list-item-spacing-m--xl: #{$list-item-spacing-m--xl};

    --list-item-spacing-l--sm: #{$list-item-spacing-l--sm};
    --list-item-spacing-l--md: #{$list-item-spacing-l--md};
    --list-item-spacing-l--lg: #{$list-item-spacing-l--lg};
    --list-item-spacing-l--xl: #{$list-item-spacing-l--xl}; 

    /*--- Default Properties - Border Radius ---*/ 

    --border-radius-25: #{$border-radius-25};
    --border-radius-50: #{$border-radius-50};
    --border-radius-75: #{$border-radius-75};
    --border-radius-100: #{$border-radius-100};

    /*--- Default Properties - Icons on Various Backgrounds ---*/ 
 
    --icon--on-light-background: var(--gray-body);
    --icon--on-dark-background: var(--white-base);
    --icon--on-primary-light-background: var(--primary-base);
    --icon--on-secondary-light-background: var(--secondary-base);  
    --icon--on-gray-background: var(--white-base);
    --icon--on-success-background: var(--success-text);
    --icon--on-warning-background: var(--warning-text);
    --icon--on-error-background: var(--error-text);

    /*--- Default Properties - Icons */

    --icon--margin--sm: 0.8rem;
    --icon--margin--md: 1rem;
    --icon--margin--lg: 1.6rem; 

    --icon--size--sm: 1.6rem; 
    --icon--size--md: 2.4rem;
    --icon--size--lg: 3.2rem; 

    --icon--size-with-background--sm: calc(var(--icon--size--sm) * 2);
    --icon--size-with-background--md: calc(var(--icon--size--md) * 2);
    --icon--size-with-background--lg: calc(var(--icon--size--lg) * 2); 

}  