@use '../abstracts' as *;

/*--- Mobile Sections ---*/  

section {
  margin-top: var(--section-spacing--s); 
  width: 100%;
  padding-left: var(--gutter--s);
  padding-right: var(--gutter--s); 
  font-size: 0;
} 

section:first-child {
  margin-top: 0;  
  padding-top: var(--section-spacing--s); 
}
 
/* Sections w/ Backgrounds */
section[class*="bg-"] {
  padding-top: var(--section-spacing--s);
  padding-bottom: var(--section-spacing--s);
}
  
section[class*="bg-"] + section[class*="bg-"] {
  margin-top: 0; 
} 

section:not([class*="bg-"]) + section.bg--white { 
  margin-top: 0; 
}
 
/* Sections w/ Curves */
section[class*="bg-top-curve-"] {
  padding-top: var(--section-top-curve--top-pd--s);
  padding-bottom: var(--section-top-curve--btm-pd--s);
}

section[class*="bg-btm-curve-"] {
  padding-top: var(--section-btm-curve--top-pd--s);
  padding-bottom: var(--section-btm-curve--btm-pd--s);
}

section[class*="bg-top-curve-"][class*="bg-btm-curve-"] {
  padding-top: var(--section-top-curve--top-pd--s);
  padding-bottom: var(--section-btm-curve--btm-pd--s);
}


/* Tablet */
@include mediaQuery("tablet-up") {

  /*--- Tablet Sections ---*/  

  section {
    margin-top: var(--section-spacing--m);
  } 

  section:first-child {
    padding-top: var(--section-spacing--m);
  }
  
  /* Sections w/ Backgrounds */
  section[class*="bg-"] {
    padding-top: var(--section-spacing--m);
    padding-bottom: var(--section-spacing--m);
  }
    
  /* Sections w/ Curves */
  section[class*="bg-top-curve-"] {
    padding-top: var(--section-top-curve--top-pd--m);
    padding-bottom: var(--section-top-curve--btm-pd--m);
  }

  section[class*="bg-btm-curve-"] {
    padding-top: var(--section-btm-curve--top-pd--m);
    padding-bottom: var(--section-btm-curve--btm-pd--m);
  }

  section[class*="bg-top-curve-"][class*="bg-btm-curve-"] {
    padding-top: var(--section-top-curve--top-pd--m);
    padding-bottom: var(--section-btm-curve--btm-pd--m);
  }

}

/* Laptop */
@include mediaQuery("laptop-up") {

  /*--- Laptop Sections ---*/  

  section {
    margin-top: var(--section-spacing--l);
  } 

  section:first-child {
    padding-top: var(--section-spacing--l);
  }
  
  /* Sections w/ Backgrounds */
  section[class*="bg-"] {
    padding-top: var(--section-spacing--l);
    padding-bottom: var(--section-spacing--l);
  }
  
  /* Sections w/ Curves */
  section[class*="bg-top-curve-"] {
    padding-top: var(--section-top-curve--top-pd--l);
    padding-bottom: var(--section-top-curve--btm-pd--l);
  }

  section[class*="bg-btm-curve-"] {
    padding-top: var(--section-btm-curve--top-pd--l);
    padding-bottom: var(--section-btm-curve--btm-pd--l);
  }

  section[class*="bg-top-curve-"][class*="bg-btm-curve-"] {
    padding-top: var(--section-top-curve--top-pd--l);
    padding-bottom: var(--section-btm-curve--btm-pd--l);
  }

} 

/* Desktop */
@include mediaQuery("desktop-up") {

  /*--- Desktop Sections ---*/  

  section {
    margin-top: var(--section-spacing--xl);
  } 

  section:first-child {
    padding-top: var(--section-spacing--xl);
  }
  
  /* Sections w/ Backgrounds */
  section[class*="bg-"] {
    padding-top: var(--section-spacing--xl);
    padding-bottom: var(--section-spacing--xl);
  }
    
  /* Sections w/ Curves */
  section[class*="bg-top-curve-"] {
    padding-top: var(--section-top-curve--top-pd--xl);
    padding-bottom: var(--section-top-curve--btm-pd--xl);
  }

  section[class*="bg-btm-curve-"] {
    padding-top: var(--section-btm-curve--top-pd--xl);
    padding-bottom: var(--section-btm-curve--btm-pd--xl);
  }

  section[class*="bg-top-curve-"][class*="bg-btm-curve-"] {
    padding-top: var(--section-top-curve--top-pd--xl);
    padding-bottom: var(--section-btm-curve--btm-pd--xl);
  }

}

/*-- Content Width ---*/ 

.container {
  max-width: var(--max-content-width--s); 
  margin: 0 auto;
  font-size: 0;
}  
 
/* Tablet */
@include mediaQuery("tablet-up") {

  .container {
    max-width: var(--max-content-width--m);
  }  

}

/* Laptop */
@include mediaQuery("laptop-up") {

  .container {
    max-width: var(--max-content-width--l);
  }  

}
 
/* Desktop */
@include mediaQuery("desktop-up") {

  .container {
    max-width: var(--max-content-width--xl);
  }  

} 
